body {
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: antiquewhite;
}

* {
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
}

#app > * {
  padding: 10px;
  overflow: auto;
}

/* MODAL STYLES */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReactModal__Content {
  position: relative;
  width: 80%;
  padding: 10px;
  background-color: palegoldenrod;
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.modal-form > label { text-align: left; }
.modal-form > input {
  display: block;
  margin: 0 0 10px 0;
}
.meme-image-div { position: relative; }
.meme-image-div > img { width: 80%; }
#meme-text-top, #meme-text-bottom {
  position: absolute;
  left: 10%;
  right: 10%;
  margin: 0;
  padding: 10px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px black, -1px -1px 10px black;
  text-align: center;
  cursor: pointer;
}
#meme-text-top { top: 20px; }
#meme-text-bottom { bottom: 20px; }

.modal-download {
  display: block;
  margin: 20px auto;
}
.modal-close {
  position: absolute;
  width: 25px;
  height: 25px;
  font-weight: 900;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 600px) {
  .ReactModal__Overlay {
    left: 25% !important;
  }
  #meme-text-top, #meme-text-bottom {
    padding: 20px;
  }

  /* .modal-form { flex-direction: row; } */
  /* .modal-form > input {
    display: inline-block;
  } */
}

#entryGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input"
    "fontSize";
}
#entryGrid > label { grid-area: label; }
#entryGrid > input { grid-area: input; }
#entryGrid > #font-sizing { grid-area: fontSize; }

@media screen and (min-width: 600px) {
  #entryGrid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "label fontSize"
      "input fontSize";
  }
}