body {
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: antiquewhite;
}

* {
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
}

#app > * {
  padding: 10px;
  overflow: auto;
}
